<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Horloge.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Horloge.My.MySettings>
            <setting name="back_color" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="form1_backcolor" serializeAs="String">
                <value>ControlDarkDark</value>
            </setting>
            <setting name="label1_forecolor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="label2_forecolor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="checkbox1_forecolor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="checkbox1_checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="masquersecondes_checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="masquertexte_checked" serializeAs="String">
                <value>False</value>
            </setting>
        </Horloge.My.MySettings>
    </userSettings>
</configuration>